.App {
  text-align: center;
}
.Main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.Block-1,
.Block-2 {
  height: 100px;
  width: 100px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Block-1 {
  position: relative;
  margin-right: 150px;
  animation: Block-1-move 5s infinite ease;
}
.Start-btn {
  cursor: pointer;
  padding: 11px 26px;
  background-color: black;
  border: none;
  border-radius: 38px;
  color: white;
}
.Start-btn:disabled {
  background-color: gray;
}

.Circle-hidden {
  display: none;
}
.Circle {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: chartreuse;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: moveCircle 2s ease-in-out forwards;
}

@keyframes Block-1-move {
  0%,
  100% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(0, 100%);
  }
}
@keyframes moveCircle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(600%, 0);
  }
}
