.app {
  text-align: center;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.block1,
.block2 {
  height: 100px;
  width: 100px;
  background-color: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.block1 {
  position: relative;
  margin-right: 150px;
  animation: block1-move 5s infinite ease;
}
.start_btn {
  cursor: pointer;
  padding: 11px 26px;
  background-color: black;
  border: none;
  border-radius: 38px;
  color: white;
}
.start_btn:disabled {
  background-color: gray;
}

.circle {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: chartreuse;
  border-radius: 100%;
  top: 0;
  left: 0;
}
.circle_hidden {
  position: absolute;
  opacity: 0;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
}

@keyframes block1-move {
  0%,
  100% {
    transform: translate(0, -100%);
  }
  50% {
    transform: translate(0, 100%);
  }
}
